/* @override 
	http://taxshelter.bix/sites/all/themes/TaxShelter/css/TaxShelter-alpha-default.css?lymjkx
	http://taxshelter.bix/sites/all/themes/TaxShelter/css/TaxShelter-alpha-default.css?m048vr
	http://taxshelter.bix/sites/all/themes/TaxShelter/css/TaxShelter-alpha-default.css?m0zqkz
*/

/* This file will hold styles that are loaded using the same media query as the narrow grid. */

#section-header {}

#main-menu {
	background-color: green;
}

#region-header-first {
	display: none;
}

#region-header-second {
	width: 100%;
	height: auto;
}

