/* @override 
	http://taxshelter.bix/sites/all/themes/TaxShelter/css/TaxShelter-alpha-default-normal.css?m02nxn
	http://taxshelter.bix/sites/all/themes/TaxShelter/css/TaxShelter-alpha-default-normal.css?m0405h
	http://taxshelter.bix/sites/all/themes/TaxShelter/css/TaxShelter-alpha-default-normal.css?m048vr
	http://taxshelter.bix/sites/all/themes/TaxShelter/css/TaxShelter-alpha-default-normal.css?m0zqkz
	http://taxshelter.bix/sites/all/themes/TaxShelter/css/TaxShelter-alpha-default-normal.css?m18wtf
*/

/* 960 */
#section-header {}

#main-menu li {
	display: inline;
}
#main-menu {
}
#zone-menu, #region-menu {height: 0;}
div.branding-data {
	margin-right: auto;
	margin-left: auto;
	width: auto;
}

#block-block-4 {
	text-align: center;
}


#block-block-4 p {
	margin-bottom: 0;
}


#block-block-2, #block-block-1 {
	display: none;
}

#block-views-services-block div.view-content div.icons img {
	height: auto;
	width: 305px;
	max-width: 450px;
	margin-bottom: 10px;
	margin-right: 0;
	padding: 2px;
}




/* @group Services Page */

body.page-services h1{text-align: center;margin-bottom: 5px;
}
body.page-services div.view-services div.icons img{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	max-width: 100%;
}

div.services-row {
	float: left;
	margin-bottom: 15px;
	width: 48%;
	height: 137px;
	margin-top: 10px;
	clear: none;
}

/* @end */