/* @override 
	http://btcv.biz/sites/all/themes/prolifik/css/prolifik-content.css?m5f2cd
	http://hi-express.loc/sites/all/themes/prolifik/css/prolifik-content.css?m5ly5f
	http://tax.loc/sites/all/themes/prolifik/css/prolifik-content.css?mdsihr
	http://tax.loc/sites/all/themes/prolifik/css/prolifik-content.css?mdslgm
*/

/* Content */
.not-front #section-content {

}

#section-content {
	padding-bottom: 10px;
}
#section-content .section-wrapper {
  overflow: hidden;      
}
#section-content .zone-wrapper > .separator {

}
#section-content .zone-wrapper .zone .region-inner {
  margin: 0;
  padding: 0;
}

/* Sidebars */
#section-content #region-sidebar-first,
#section-content #region-sidebar-second {
  }
#section-content #region-sidebar-first .region-inner,
#section-content #region-sidebar-second .region-inner {
  height: 100%;
  padding: 10px;
}
  
#section-content #region-sidebar-first > .separator,
#section-content #region-sidebar-second > .separator {
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(212,212,212,0.98) 49%, rgba(213,213,213,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(49%,rgba(212,212,212,0.98)), color-stop(50%,rgba(213,213,213,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  bottom: 0;
  position: absolute;
  top: 0;
  width: 1px;
}
#section-content #region-sidebar-first > .separator {
  right: 0;
}
#section-content #region-sidebar-first .region-inner {
	
}
#section-content #region-sidebar-second > .separator {
  left: 0;
}
#section-content #region-sidebar-second .region-inner {
  padding-left: 30px;
}