/* @override 
	http://tax.loc/sites/all/themes/prolifik/css/prolifik-alpha-default-narrow.css?mdsihr */


.logo-img {
  float: left;
  text-align: left;
}

/* User */
#region-user-first,
#region-user-second {
  margin: 0;
  position: absolute;
  right: 20px;
  top: 0;
  width: 50%;
}

/* Search Form */
#block-search-form {
  margin: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 25px;
  width: 300px;
  z-index: 1;
}

#zone-menu {
  min-height: 30px;
  z-index: 10;
  float: right;
  width: 50%;
}


#zone-menu-wrapper {
	position: relative;
	bottom: 70px;
}
#zone-header-wrapper {
	margin-top: -70px;
}

div.fpss {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

/* @group Front Boxes */

.front h2 {
	text-align: left;
	padding-top: 30px;
}

.front .region-postfix p {
	clear: both;
}

.front img.left-front {
	display: inline;
	float: left;
	margin-bottom: 10px;
}

/* @end */