/* @override 
	http://tax.gajaycees.org/sites/all/themes/prolifik/css/prolifik-base.css?mby5kq
	http://tax.gajaycees.org/sites/all/themes/prolifik/css/prolifik-base.css?mby8bq
	http://tax.gajaycees.org/sites/all/themes/prolifik/css/prolifik-base.css?mby8ok
	http://tax.loc/sites/all/themes/prolifik/css/prolifik-base.css?mdscsl
	http://tax.loc/sites/all/themes/prolifik/css/prolifik-base.css?mdsihr
*/

/* This file will hold the main styles for your website. */

#block-block-4 {
	text-shadow: .15em .15em .2em #000000;
	font-size: 1.5em;
}

/* @group FPSS */
div.fpss {
}

div#fpss-text {
	padding-top: 50px;
}

div.fpssimage {
	float: left;
	margin-right: 20px;
	margin-top: 30px;
}


div.fpss-big {
	text-transform: uppercase;font-size: 4em;display: inline-block;margin-right: 5px; color: #F7F7F7;
	font-weight: bold;
	float: left;
}

div.fpss-p {
	color: #F7F7F7;
	text-align: left;
	font-size: 1.65em;
}

div.fpss-reg {
	text-transform: uppercase;
	font-size: 4em;color: #F7F7F7;
}



div.fpss a {background: rgb(140,240,255);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhjZjBmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzAwOTZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDY0OTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(140,240,255,1) 0%, rgba(0,150,255,1) 25%, rgba(0,100,150,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(140,240,255,1)), color-stop(25%,rgba(0,150,255,1)), color-stop(100%,rgba(0,100,150,1)));
background: -webkit-linear-gradient(top,  rgba(140,240,255,1) 0%,rgba(0,150,255,1) 25%,rgba(0,100,150,1) 100%);
background: -o-linear-gradient(top,  rgba(140,240,255,1) 0%,rgba(0,150,255,1) 25%,rgba(0,100,150,1) 100%);
background: -ms-linear-gradient(top,  rgba(140,240,255,1) 0%,rgba(0,150,255,1) 25%,rgba(0,100,150,1) 100%);
background: linear-gradient(to bottom,  rgba(140,240,255,1) 0%,rgba(0,150,255,1) 25%,rgba(0,100,150,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cf0ff', endColorstr='#006496',GradientType=0 );
color: white;
font-size: 1.5em;
text-transform: uppercase;
font-weight: bold;
border-radius: 10px;
padding: 10px 20px;
}

div.learnmore {
	position: absolute;
	background: url(../images/learnmore_shadow.png) no-repeat center bottom;
	padding-bottom: 28px;
	top: 270px;
	left: 60%;
}

/* @end */
body {background-color: black;}


/* Links */
a, a:link {
  text-decoration: none;
}
a, a:link, a:visited, a:active {
  color: #AD3B43;
}
a:hover {
  text-decoration: underline;
}

/* Headers */
body > #page h1, body > #page h2, body > #page h3,
body > #page h4, body > #page h5, body > #page h6 {
  border-color: #D4D4D4;
  color: #191F53;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1em;
}

body > #page h1#page-title {
  color: #191F53;
}

/* Admin Menu */
#admin-menu {
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -khtml-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -ms-filter: none;
  filter: none;
}

/* Drupal */
#messages .messages {
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Page */
#page {
  position: relative;
}

/* Blocks */
.block .content {
  color: #626262;
}
.block .content li {
  margin-left: 2em;
}
.block .content .item-list li {
  margin: 0;
}



/* Sidebar */
#region-sidebar-first div.block-title,
#region-sidebar-second div.block-title {
}
#region-sidebar-first .block:first-child div.block-title {
  margin-top: 0;
}

.boxes-box-controls ul {
  margin: 0;
}

/* Content */

ul.tabs {
  *padding-top: 1px;
}

div.image-left a img, div.left img {
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
}

img.left {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

#block-block-2 div.content div div {
	color: white;
}

/* @group Quicktabs */

#quicktabs-_none_ div.item-list ul.quicktabs-tabs.quicktabs-style-nostyle li.active {
	font-weight: bold;
}

#quicktabs-_none_ div.item-list ul.quicktabs-tabs.quicktabs-style-nostyle li {
	  background: rgb(242,237,237); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMiUiIHN0b3AtY29sb3I9IiNmMmVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNkM2NmZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(242,237,237,1) 32%, rgba(211,207,208,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(32%,rgba(242,237,237,1)), color-stop(99%,rgba(211,207,208,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* IE10+ */
background: linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2eded', endColorstr='#d3cfd0',GradientType=0 );

}


ul.quicktabs-tabs li {
  display: inline;
  background: none;
  list-style-type: none;
  padding: 1%;
  white-space: nowrap;
	border-top: thin solid #CACCCB;
	border-right: thin solid #CACCCB;
}

ul.quicktabs-tabs li a {
	color: #253690;
}


/* @end */

#region-menu nav.navigation ul.menu li.leaf {
  float: left;
  display: block;
}

/* @group Front Boxes */

.front h2 {
	color: #0E0E0E;
	text-align: center;
}
.front img.left-front {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#block-body hr {
	height: 4px;
	clear: both;
	padding-top: 0;
	background-color: #DCDCDC;
}

#block-body div.readmore-front a {
	background-color: #788296;
	padding: 5px 10px;
	color: white;
	border-radius: 4px;
}

#block-body p {
	height: 110px;
}

/* @end */

